@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('./elements/textfield.css');
@import url('./elements/checkbox.css');
@import url('./elements/radio.css');
@import url('./elements/slider.css');
@import url('./elements/text-button.css');
@import url('./elements/contained-button.css');
@import url('./elements/select.css');
@import url('./elements/input.css');


@import url('./components/popup.css');
@import url('./components/modal-delete.css');
@import url('./components/header.css');
@import url('./components/table.css');
@import url('./components/card.css');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  margin-top: 70px;
  max-width: 1280px;
  width: 90%;
  height: 100%;
  min-height: calc(100vh - 100px);
}

ol {
  list-style-type: none;
  padding-left: 0;
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer hr {
  width: 85%;
}

footer img {
  height: 20px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.8),
  0 10px 10px rgba(0, 0, 0, 0.5);
}

p {
  text-indent: 1em;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  margin: 3px;
  cursor: pointer;
}

/* template */
.additional-information .checks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.additional-information-extra {
  display: flex;
}

.rest-information div {
  display: inline-block;
  vertical-align: top;
}

/* questions */
.desription-wrap {
  min-height: 50px;
}

ol li.close {
  height: 40px;
}