@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('./elements/textfield.css');
@import url('./elements/checkbox.css');
@import url('./elements/radio.css');
@import url('./elements/slider.css');
@import url('./elements/text-button.css');
@import url('./elements/contained-button.css');
@import url('./elements/select.css');
@import url('./elements/input.css');


@import url('./components/popup.css');
@import url('./components/modal-delete.css');
@import url('./components/header.css');
@import url('./components/table.css');
@import url('./components/card.css');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-areas: 'h''c''f';
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}


.container {
  grid-area: c;
  margin-top: 60px;
  padding: 0 15px 15px 15px;
  min-height: calc(100vh - 100px);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px;
}

.container ol {
  list-style-type: none;
  padding-left: 0;
}

/* quest generator */
.quest-generator .additional-information {
  margin-bottom: 5px;
}

.quest-generator .additional-information .checks,
.quest-generator .additional-information .additional-information-extra {
  display: flex;
  width: 100%;

}

.quest-generator .additional-information .checks {
  justify-content: space-around;
  margin-bottom: 20px;
}

.quest-generator .extra-wrapper label,
.quest-generator .rest-information label {
  margin: 0;
}

.quest-generator .extra-wrapper .close{
  opacity: 0;
  position: relative;
  margin: 0;
  top: -15px;
  right: 2px;
  transition: opacity 0.2s ease-in;
}

.quest-generator .extra-wrapper .close:hover{
  opacity: 1;
}

.quest-generator .rest-information{
  display: flex;
  align-items: baseline;
}

.quest-generator .possible-answers select{
  font-size: 16px;
    font-family: 'Roboto',
    sans-serif;
    border-radius: 5px;
    
  margin: 15px;
  width: 170px;
  height: 40px;
}

.quest-generator .range-wrap{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-column-gap: 5px;
}

.quest-generator .range-notation {
  margin-top: 40px;
}

/* questions edit */
.questions-edit .qstn-wrap{
  display: flex;
}

.questions-edit ol{
  list-style-type: square !important;
}


footer {
  grid-area: f;
  height: 20px;
  font-size: 14px;
  text-align: center;
}

footer hr {
  margin-bottom: 5px;
}

footer strong {
  position: relative;
  top: -5px;
}

footer img {
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.error {
  box-shadow: 0 2px 5px 3px rgba(207, 0, 15, 0.50) !important;
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  margin: 3px;
  cursor: pointer;
}


/* ol {
  list-style-type: none;
  padding-left: 0;
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer hr {
  width: 85%;
}

footer img {
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.8),
  0 10px 10px rgba(0, 0, 0, 0.5);
}

p {
  text-indent: 1em;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  margin: 3px;
  cursor: pointer;
}

.additional-information .checks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.additional-information-extra {
  display: flex;
}

.rest-information div {
  display: inline-block;
  vertical-align: top;
}

.desription-wrap {
  min-height: 50px;
}

ol li.close {
  height: 40px;
}

.error {
  box-shadow: 0 2px 5px 3px rgba(207, 0, 15, 0.50)!important;
} */