header {
  position: fixed;
  height: 50px;
  width: 100%;

  top: 0;
  background-color: #2196f3;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);

  z-index: 99;
}

header span {
  margin: 0 10px 0 10px;
  line-height: 50px;
}

header #auth {
  float: right;
}

header a {
  font-size: 18px;
  display: inline-block;
  color: white;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

header a:after {
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .1s ease-in-out;
  -moz--transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

header a:hover:after,
header a:focus:after {
  width: 100%;
}

header #search {
  /* width: 100%; */
}

header #search input {
  /* position: inherit; */
  height: 1.5em;
  font-size: 16px;
  padding: 0 30px 0px 30px;
  border: 0;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);

  width: 100px;
  border: none;
  outline: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

header #search input:focus{
  width: 200px;
}

header #search .search{
  position: absolute;
  line-height: 50px;
  z-index: 2;

  margin: 0 5px 0 5px;
}