header {
  position: fixed;
  display: flex;
  height: 50px;

  max-width: 1280px;
  width: 90%;
  left: 50%;
  right: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  top: 25px;
  background-color: #2196f3;
  opacity: 0.97;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);

  z-index: 99;
  border-radius: 0 0 5px 5px;
}

header span {
  margin: 0 10px 0 10px;
  line-height: 50px;
}



header a {
  font-size: 18px;
  display: inline-block;
  color: white;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

header a:after {
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .1s ease-in-out;
  -moz--transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

header a:hover:after,
header a:focus:after {
  width: 100%;
}

header #search-form {
  display: inline;
}

header #search-form button {
  border: none;
  background: none;
  outline: none;
  border-style: none;
  padding: 0;
  height: 24px;

  vertical-align: middle;
}

header #search .search {
  margin: 0;
  z-index: 2;
}

header #search {
  flex-grow: 1;
}

header #search input {
  height: 1.5em;
  width: 340px;
  font-size: 16px;
  padding: 0 10px 0px 10px;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);

  border: none;
  outline: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

header #search input:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.20)
}

header #results {
  display: none;
}

header #search input:focus~#results {
  display: block;
  position: fixed;
  top: 45px;
  width: 361px;
  left: 135px;
  background-color: whitesmoke;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.20);
  border-radius: 5px;

  animation-duration: 0.1s;
  animation-name: search-results;
}

@keyframes search-results {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}

header #results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header #auth {
  width: 70px;
}

header #cabinet-wrap {
  position: relative;
  right: 135px;
  bottom: 10px;
  display: none;
  height: max-content;
  width: 220px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.20);

 animation-duration: 0.2s;
  animation-name: cabinet-wrap;
}

@keyframes cabinet-wrap{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#cabinet-wrap span{
  width: 100%;
}


.cabinet-a {
  color: black;
}

.cabinet-a:after {
  background-color: black !important;
}