.fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  top: -0%;
  margin: 0;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;

  animation: 0.1s;
  animation-name: fade;
}

@keyframes fade{
  from{
    background-color: rgba(0, 0, 0, 0);
  }

  to{
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.fade .modal-window {
  position: inherit;
  width: 600px;
  top: 30%;

  left: calc(50% - 300px);
  z-index: 101;

  animation-duration: 0.1s;
  animation-name: window;
}

@keyframes window{
  from{
    top: 100%;
  }
  to{
    top: 30%;
  }
}

.modal-window h4{
  text-indent: 1em;
}