#popup {
  position: fixed;
  top: 5px;
  z-index: 100;
  background-color: lightgreen;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 2em;
  height: 2em;
  line-height: 2em;
  width: 250px;
  text-align: center;
}

#popup>h4 {
  margin-top: 0;
  color: black;
}