#popup {
  position: fixed;
  top: 5px;
  left: calc(50% - 125px);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 2em;
  height: 2em;
  line-height: 2em;
  width: 250px;
  text-align: center;
}

#popup>p {
  margin-top: 0;
  color: #00AA8D;
}