table {
  max-width: 1250px;
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;

  white-space: nowrap;
  overflow-x: auto;
}

.table-wrap{
  position: relative;
  overflow-x: auto;
}

td,
th {
  padding: 0;
}

table,
th,
td {
  border: none;
}

table.highlight>tbody>tr {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

table.highlight>tbody>tr:hover {
  background-color: #f2f2f2;
}

table.centered thead tr th,
table.centered tbody tr td {
  text-align: center;
}

table.striped>tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table.striped>tbody>tr>td {
  border-radius: 0;
}

thead {
  border-bottom: 1px solid #d0d0d0;
}

td,
th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
}

table::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}