.pure-material-textfield-standard {
  position: relative;
  display: inline-block;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.pure-material-textfield-standard>input,
.pure-material-textfield-standard>textarea {
  display: block;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-top: solid 27px transparent;
  border-bottom: solid 1px rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  padding: 0 0 4px;
  width: 100%;
  height: inherit;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none;
  /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border-bottom 0.1s, background-color 0.1s;
}

/* Span */
.pure-material-textfield-standard>input+span,
.pure-material-textfield-standard>textarea+span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  box-sizing: border-box;
  padding: 7px 0 0;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 75%;
  line-height: 18px;
  pointer-events: none;
  transition: color 0.1s, font-size 0.1s, line-height 0.1s;
}

/* Underline */
.pure-material-textfield-standard>input+span::after,
.pure-material-textfield-standard>textarea+span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform-origin: bottom center;
  transform: scaleX(0);
  transition: transform 0.1s;
}

/* Hover */
.pure-material-textfield-standard>input:hover,
.pure-material-textfield-standard>textarea:hover {
  border-bottom-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.pure-material-textfield-standard>input:not(:focus):placeholder-shown+span,
.pure-material-textfield-standard>textarea:not(:focus):placeholder-shown+span {
  font-size: inherit;
  line-height: 56px;
}

/* Focus */
.pure-material-textfield-standard>input:focus,
.pure-material-textfield-standard>textarea:focus {
  outline: none;
}

.pure-material-textfield-standard>input:focus+span,
.pure-material-textfield-standard>textarea:focus+span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-textfield-standard>input:focus+span::before,
.pure-material-textfield-standard>textarea:focus+span::before {
  opacity: 0.12;
}

.pure-material-textfield-standard>input:focus+span::after,
.pure-material-textfield-standard>textarea:focus+span::after {
  transform: scale(1);
}

/* Disabled */
.pure-material-textfield-standard>input:disabled,
.pure-material-textfield-standard>textarea:disabled {
  border-bottom-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-textfield-standard>input:disabled+span,
.pure-material-textfield-standard>textarea:disabled+span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {

    .pure-material-textfield-standard>input,
    .pure-material-textfield-standard>input+span,
    .pure-material-textfield-standard>input+span::after,
    .pure-material-textfield-standard>textarea,
    .pure-material-textfield-standard>textarea+span,
    .pure-material-textfield-standard>textarea+span::after {
      transition-duration: 0.1s;
    }
  }
}